# Ignore Python build files
__pycache__/
*.pyc

# Ignore Virtual Environments
venv/
env/
.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore heavy data (We generate this, we don't upload it!)
data/

# Ignore system files
.DS_Store